<br>
<% if current_user.avatar.url != nil%>
<%= image_tag(current_user.avatar.thumb.url, :class =>'img-circle') %>
<% end %>
<br><br>

<p>
  <strong>User_id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
